<h3>Products</h3>
<div class="row">
  <div class="section">
  <% @products.each do |product| %>
  <div class="col s4">
    <div>
      <%= link_to "Show Product", products_path, id: "show_product", class: "btn btn-success", remote: true %>
      <%= link_to "Hide Product", products_path, id: "hide_product", class: "btn btn-danger", remote: true %>
    </div>
    <div id="product<%= product.id %>">
      <div class="">
        <div class="">
          <h4><%= link_to product.name, product_path(product.id) %></h4>

        </div>
        <div id="product">
          <p><%= product.description %></p>
          <p><%= number_to_currency product.price %></p>
          <%= form_for @order_item, remote: true do |f| %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.number_field :quantity, placeholder: "quantity" %>
            <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
          <% end %>
          <% if admin %>
          <h5><%= link_to "Delete", product_path(product),
                        :data => {:confirm => "Confirm Product Deletion?",
                                  :method => "delete"} %></h5>
            <% end %>
        </div>

      </div>
    </div>
  </div>

  <% end %>
</div>
</div>
